<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('includes/head') %>
</head>
<body>

  <%- include('includes/header') %>

   <main>


  <p>Es sind <%= countRezept %> Rezepte vorhanden</p> 

        <div class="main-content">


         <% for (const rezept of allRezepts) { %>
         
         <div>

           <p><%= rezept.Name %></p>
           
           
           <a href="/detailiertes-gericht/<%= rezept.id_Rezept %>"><p>Details</p>
            
            <img src="/<%= rezept.Pfad_Bild %>" alt="Bild Rezept">
            
          </a>
          
        </div>

           <% } %>
      
        </div>
  
      </main>


</body>
</html>